@font-face {
    font-family: 'opensans';
    src:
        local('opensans'),
        url('../fonts/opensans.woff') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'opensansbold';
    src:
        local('opensansbold'),
        url('../fonts/opensansbold.woff2') format('woff2'),
        url('../fonts/opensansbold.woff') format('woff');
}


@mixin opensans {
  font-family: opensans, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

@mixin opensansbold {
  font-family: opensansbold, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
