@import "../mixins";



.categories {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories__item {
  background-color: #63d1bb;
  padding: 25px 30px;
  display: block;
  position: relative;
}

.categories__item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  display: block;
  width: 120px;
}

.categories__item--toys {
  background-color: #56c3b2;
}

.categories__item--interior-decorations::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/icon-interior.svg) no-repeat center center;
  right: 25px;
  top: 20px;
}

.categories__item--toys::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/icon-toy.svg) no-repeat center center;
  right: 25px;
  top: 20px;
}


@include mediaTablet {
  .categories {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }

  .categories__item {
    width: 50%;
    padding: 30px 40px;
  }
}
