
.footer {
  background-color: #f1f1f1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}


.footer__social {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
}

.footer__copyright {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright-text {
  margin-right: 30px;
}
