@import "../mixins";

.footer {
  background-color: #f1f1f1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}


.footer__social {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
}

.footer__copyright {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright-text {
  margin-right: 30px;
}

.footer__logo {
  display: none;
}

@include sm {
  .footer {
    display: flex;
    justify-content: space-between;
    justify-content: space;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .footer__logo {
    display: block;
    width: 190px;
  }

  .footer__social {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer__copyright {
    padding-top: 0;
  }
}

@include mediaDesktop {
  .footer {
    max-width: 1050px;
    margin: 0 auto;
  }
}
