.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  background-color: none;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  overflow: hidden;
  height: 81px;
  left: 0;
  right: 0;
  text-align: center;
}

.menu__wrapper {
  min-height: 81px;
  background-color: #fff;
}

.menu.menu--open {
  height: auto;
}

.menu__catalog {
  width: 100%;
  text-decoration: none;
  color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  order: 2;
  border-bottom: 1px solid #e7e7e7;
}

.menu__order {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: #000;
  order: 3;
  border-bottom: 1px solid #e7e7e7;
}

.menu__search {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  order: 4;
  flex-grow: 0;
}

.menu__cart {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  text-decoration: none;
  color: #000;
  order: 5;
  text-align: center;
}

.menu__adition-menu {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu__adition-menu a {
  text-decoration: none;
  color: #000;
  display: block;
  margin-right: 30px;
}


.menu__logo {
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #e7e7e7;
  flex-grow: 1;
  background-color: #fff;
  display: block;
  padding-top: 25px;
  order: 1;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
}


.menu__adition-menu {
  order: 4;
  display: none;
  order: 10;
}

.menu__delivery {
  order: 5;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  display: none;
  order: 11;
}


.menu__toggle {
  @include textHidden;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;

  &::after {
    content: '';
    background: url(../img/icon-menu-open.svg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--open::after {
    background: url(../img/icon-menu-close.svg) no-repeat center center;
  }
}

.menu__second-bg {
  margin-top: -85px;
  border-top: 1px solid #e7e7e7;
  display: none;
}

@include mediaTablet {
  .menu {
    padding-left: 50px;
    padding-right: 50px;
    position: static;
    background-color: none;
    background: none;
    text-align: inherit;
    height: auto;
  }

  .menu__second-bg {
    display: block;
  }

  .menu__wrapper {
    min-height: auto;
  }

  .menu__toggle {
    display: none;
  }

  .menu__logo {
    width: 45%;
    flex-grow: 1;
    height: auto;
    text-align: left;
  }

  .menu__order {
    order: 7;
    border-bottom: none;
  }

  .menu__catalog {
    order: 6;
  }

  .menu__delivery {
    display: block;
  }

  .menu__catalog {
    width: auto;
    border-bottom: none;
  }

  .menu__cart {
    width: 37%;
    flex-grow: 1;
    text-align: right;
  }

  .menu__search {
    width: 80px;
    @include textHidden;
  }

  .menu__order {
    width: 260px;
  }
}

@include mediaDesktop {
  .menu__adition-menu {
    display: flex;
  }

  .menu__adition-menu a {
    margin-right: 60px;
  }

  .menu__logo {
    width: auto;
    order: 3;
    height: auto;
    text-align: left;
  }

  .menu__order {
    order: 2;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
  }

  .menu__catalog {
    order: 1;
    background-color: #fff;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }

  .menu__catalog {
    width: 16%;
  }

  .menu__cart {
    width: 25%;
  }
}
