
.order__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.order {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  align-items: baseline;
}

.order__help {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.order__btn {
  width: 100%;
  order: 1;
  padding: 15px 30px;
}

@include mediaTablet {
  .order {
    margin-bottom: 0;
  }

  .order__wrapper {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 30px;
  }

  .order__help {
    width: auto;
  }

  .order__btn {
    width: auto;
    order: 0;
  }
}

@include mediaDesktop {
  .order__wrapper {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .order {
    padding-left: 20%;
    padding-right: 20%;
  }
}
