
.product-details__container {
  @include container;
}

.product-details {
  padding-top: 30px;
}

.product-details__text {
  font-size: 15px;
  line-height: 24px;
  @include opensans;
}

.product-details__price {
  @include opensansbold;
}

@include mediaTablet {
  .product-details {
    width: 50%;
    position: relative;
    padding-top: 50px;
  }

  .product-details__img-container {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ccc;
    width: 100%;
    min-height: 400px;
  }

  .product-details__content {
    position: relative;
  }

  .title.product-details__title {
    font-size: 43px;
    line-height: 50px;
    position: relative;
    margin-right: -100%;
    z-index: 1;
    margin-bottom: 60px;

    span {
      position: absolute;
      top: 20px;
      right: 0;
      width: 25%;
      text-align: center;
      padding-left: 60px;
      padding-right: 20px;
      box-sizing: border-box;
    }
  }

  .product-details__text {
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .product-details__table {
    margin-bottom: 60px;
  }

  .product-details__price {
    display: block;
    margin-bottom: 30px;
  }
}


@include mediaDesktop {
  .product-details__content {
    position: static;
  }

  .product-details {
    margin-left: 16.7%;
    width: 33.3%;
    position: relative;
    padding-top: 70px;
  }

  .product-details__img-container {
    position: absolute;
    top: 70px;
    left: 100%;
    background-color: #ccc;
    width: 150%;
    min-height: 600px;
  }

  .title.product-details__title {
    font-size: 53px;
    line-height: 57px;
    position: relative;
    margin-right: -50%;
    z-index: 1;
    padding-top: 60px;
    margin-bottom: 60px;

    span {
      position: absolute;
      top: 70px;
      left: -33%;
      width: 33%;
      text-align: center;
      padding-left: 50px;
      padding-right: 50px;
      box-sizing: border-box;
    }
  }

  .product-details__text {
    margin-bottom: 60px;
  }

  .product-details__table {
    margin-bottom: 110px;
  }

  .product-details__price {
    display: block;
    margin-bottom: 30px;
  }
}
