@import "../mixins";

.products {
  padding: 30px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  width: 100%;
  margin-bottom: 30px;
}

@include sm {
  .products {
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 0;
  }

  .products__item {
    margin-bottom: 50px;
  }
}

@include md {
  .products {
    justify-content: space-between;
    margin-bottom: 55px;
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 130px;
  }

  .products__item {
    width: 315px;
  }
}
