.promo {
  @include container;
  min-height: 490px;
  background: #f9f9f9 url(../img/hero-mobile@1x.jpg) no-repeat center bottom;
  background-size: cover;
  background-size:contain;
  position: relative;
}

.promo__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.promo__text {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding-top: 70px;
  margin: 0;
  @include opensansbold;
}

@include mediaTablet {
  .promo {
    min-height: 745px;
  }

  .promo__text {
    padding-top: 110px;
  }

  .promo__text {
    font-size: 43px;
    line-height: 53px;
  }
}

@include mediaDesktop {
  .promo__text {
    font-size: 53px;
    line-height: 57px;
  }
}
