
.video {
  border: 1px solid #ececec;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.video__title {
  margin: 0;
  padding: 30px;
  position: relative;
  padding-left: 90px;
}

.video__title::before {
  content: '';
  position: absolute;
  background: url(../img/icon-video.svg) no-repeat;
  top: 30px;
  left: 30px;
  width: 40px;
  height: 30px;
}

.video__description {
  padding: 30px;
}

.video__img-container {
  background-color: #ececec;
  text-align: center;
}

.video__btn {
  width: 100%;
}


@include mediaTablet {
  .video__img-container {
    min-height: 455px;
  }

  .video__title {
    order: 1;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    padding-left: 105px;
    position: relative;
    margin-bottom: 40px;
  }

  .video__title::before {
    content: '';
    position: absolute;
    background: url(../img/icon-video.svg) no-repeat;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 30px;
  }

  .video__description {
    order: 2;
  }

  .video__text {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 30px;
  }

  .video__btn {
  }
}

@include mediaDesktop {
  .video {
    margin-bottom: 105px;
    margin-left: 66.6%;
    position: relative;
    box-sizing: border-box;
    min-height: 455px;
  }

  .video__title {
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 70px;
  }

  .video__title::before {
    content: '';
    position: absolute;
    background: url(../img/icon-video.svg) no-repeat;
    top: 45px;
    left: 60px;
    width: 40px;
    height: 30px;
  }

  .video__description {
    padding-right: 70px;
    padding-top: 0;
    padding-left: 60px;
  }

  .video__text {
    margin-bottom: 40px;
    padding-top: 0;
    margin-top: 0;
  }

  .video__img-container {
    position: absolute;
    left: -200%;
    width: 200%;
  }

  .video__btn {
    width: auto;
  }
}
